
<%= form_tag('/ravens/', :method => 'get') do %>
  <li><%= select_tag :operation, options_for_select([ "submit"], 'operation') %></li>
  <li><%= label_tag("amount") %>
  <%= number_field_tag(:amount) %></li>
  <li><%= label_tag("PRN, try 847995") %>
  <%= number_field_tag(:prn) %></li>
  <li><%= label_tag("Currency") %>
  <%= select_tag :currency, options_for_select([ "USD"]) %></li>
  <li><%= label_tag("Card Number") %>
  <%= number_field_tag(:cardNumber) %></li>
  <li><%= label_tag("Payment Type") %>
  <%= select_tag :pymtType, options_for_select([ "cc_debit"]) %></li>
  <li><%= label_tag("Expiration MM/YY") %>
  <%= number_field_tag(:expiryMonth, nil, in: 1...13)%>
  <%= number_field_tag(:expiryYear, nil, in: 14...25)%></li>
  <%= submit_tag 'Go' %>
<% end %>

  
  <% if @raven %>
    <ul>Request Values
    <% @raven.values.each do |k, v| %>
      <li><%= k + ' = ' + v %></li>
    <% end %>
    </ul>
  <% end %>



  <% if @response %>
    <ul>Response Values
    <% @response.values.each do |k, v| %>
      <li><%= k + ' = ' + v %></li>
    <% end %>
    <li><%= @response.ravenResponseString %></li>
    </ul>
  <% end %>
    


